
.products {
  width: 100%;
  margin-bottom: 6rem;
  padding-left: 0;

  @include respond-to(large){
    padding-left: 2%;
    width: 80%;
  }
  article {
    padding: 1.5rem;
    max-width: 30rem;
    margin: auto;
  }
  img {
    max-width: 30rem;
    width: 100%;
  }
}

.filters {
  width: 100%;

  @include respond-to(large){
    width: 20%;
  }
  > ul{
    max-width: 100%;
    @include respond-to(large){
      max-width: 27.4rem;
    }
  }
  margin-top: 1.6rem;
  h3 {
    background-color: #e6007e;
    border-top: solid 1px #fff;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 16px 20px;
    position: relative;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0;

    &:after {
      background-color: #c7046f;
      border-radius: 20px;
      border-bottom: solid 1px #3a172c;
      content: url(../images/arrow.png);
      color: #fff;
      height: 15px;
      padding-top: 5px;
      position: absolute;
      text-align: center;
      right: 20px;
      top: 12px;
      width: 20px;
      line-height: 1rem;
    }
  }
}

.category-product {
  background: #f7f7f7;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in;
  li {
    border-top: solid 1px #dddbdb;
    padding: 15px 0;
    color: #757575;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &.show {
    max-height: 50rem;
  }
}

.category-product li:nth-child(1) {
  border-top: none
}
.delete_product{
  button{
    margin-top: 1rem ;
    background: #e6007e !important;
  }
}